<section id="contact_mails">
  <h5>問い合わせ完了画面</h5>
  <br>
  <p>
    お問い合わせありがとうございます。<br>
    問い合わせ内容は管理者宛にメールで通知しました。<br>
  </p>
  <br>
  <br>
  <h5>問い合わせ内容</h5>
  <p>------------------------------------------------</p>
  <br>
  <br>
  【件名】<br>
  <%= @contact.subject %>
  <br>
  <br>
  【お問い合わせ内容】<br>
  <%= @contact.message %>
  <br>
  <br>
  <p>【返信先】</p>
  <br>
  <%= @contact.email %>
  <br>
  <br>
  <p>------------------------------------------------</p>
</section>