<section id="contact_mails">
  <h5>問い合わせ完了画面</h5><br>
  <p>
    お問い合わせありがとうございます。<br>
    問い合わせ内容は管理者宛にメールで通知しました。<br>
  </p>
<br><br>
  <h5>問い合わせ内容</h5>
  <p>
  ------------------------------------------------<br>
  【件名】<br>
  <%= @contact.subject %>
<br>
  【お問い合わせ内容】<br>
  <%= @contact.message %>
<br>
  【返信先】<br>
  <%= @contact.email %><br>
  ------------------------------------------------
  </p>

</section>