<div class="users-card col-lg-2 col-md-12">
  <div class="card">
    <%= image_tag "#{user.image}" ,class:"card-img-top" %>
    <div class="card-body">
      <p class="card-text"><%= user.nickname %></p>
      <%= button_to 'コンタクト', new_user_path, method: :get, class: "contact_form btn btn-primary", remote: true %>
      <div id="form-text"></div>
    </div>
  </div>
</div>
