<div class="user">
  <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <div class="card">
          <%= image_tag "#{user.image}" ,class:"card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= user.nickname %></p>
          </div>
        </div>
      </div>
  </div>
</div>
