<div class="user">
  <div class="row">
    <% @users.each do |user| %>
    <div class="col-sm-15">
      <div class="card">
          <img src="<%= user.image %>" class="card-img-top">
        <div class="card-body">
          <p class="card-text"><%= user.nickname %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
