<%= stylesheet_link_tag "_users", :media => "all" %>

<div class="mypage">
  <div class="title">
    <h3>マイページ</h3>
  </div>

  <div class="profile">
    <label>Eメールアドレス：</label> <%= @user.email %>
  </div>

  <div class="btn_group">
    <%= link_to '編集', edit_user_path(@user), class:"btn"  %>
  </div>
</div>