.mypage {
  .title {
    h3 {
      color: #28a745;
    }
  }

  .btn_group {
    .btn {
      background: #28a745;
      color: #FFF;
      border-radius: 3px;
    }
  }
}
#users {
  // ユーザーのカード定義
  .user .card{
    border: solid 1px black;
    margin: 10px;
    width: 130px;
    height: 200px;
  }
  .user img{
    width: 128px;
    height: 110px;
  }
  .user .card-body p{
    font-size: 10px;
    word-break: normal;
  }
  .user .card-body .btn{
    font-size: 10px;
    padding: 10px 13px;
  }

  .users-card {
    text-align: center;
  }
}
