@import "bootstrap/scss/bootstrap";
main {
  max-width: 800px;
  margin: 0 auto;
}
.access .rignt {
  padding-left: 40px;
  text-align: left;
}
.user .card{
  margin: 10px;
  width: 130px;
  height: 160px;
}
.user img{
  width: 128px;
  height: 110px;
}
