@import "bootstrap/scss/bootstrap";

/*
*= require_tree .
*= require_self
*/



main {
  max-width: 800px;
  margin: 0 auto;
}

// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  main {
    font-size: 1.0rem;
  }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
  main {
    font-size: 1.5rem;
  }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 900px) {
  main {
    font-size: 1.5rem;
  }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
  main {
    font-size: 1.5rem;
  }
}

