#homes {
  h2{
    margin: 60px 0 20px 0;
    font-size: 30px;
  }

  .access .right {
      padding-left: 40px;
      text-align: left;
  }

  // ユーザーのカード定義
  .user .card{
    border: solid 1px black;
    margin: 10px;
    width: 130px;
    height: 320px;
  }
  .user img{
    width: 128px;
    height: 110px;
  }
  .user .card-body p{
    font-size: 10px;
    word-break: normal;
  }
  .user .card-body .btn{
    font-size: 10px;
    padding: 10px 13px;
  }

  .users-card {
    text-align: center;
  }


// イベントのカード定義
  .event .card{
    border: solid 1px black;
    margin: 10px;
    width: 130px;
    height: 290px;
  }
  .event .card-body p{
    font-size: 12px;
    word-break: normal;
  }
  .events-card {
    text-align: center;
  }
}
