<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand ml-5 h5" href="#">YANBARU SPACE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=3#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarNav" style="">
    <ul class="navbar-nav">
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link active ml-4 h6" href="#">MENU</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link active ml-4 h6" href="/users/sign_in">ログイン</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link active ml-4 h6" href="#">新規登録</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link active ml-4 h6" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link active ml-4 h6" href="#">マイページ</a>
    </li>
    </ul>
  </div>
</nav>